* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(84, 47, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: rgb(169, 182, 166);
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#sketch {
    width: fit-content;
    border: 1px solid black;
}

.sketch-bg {
    background-color: white;
}

.top-content-row {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 10px 0 20px 0;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: rgb(16, 92, 146);
    border-radius: 5px;
    border-color: rgb(11, 63, 100);
}

.error-msg {
    margin-left: 10px;
    color: rgb(199, 4, 4);
    width: 200px;
    flex: 1;
}